@font-face {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/icomoon.eot?91cu4m');
    src: url('../fonts/icomoon.eot?#iefix91cu4m') format('embedded-opentype'),
    url('../fonts/icomoon.woff?91cu4m') format('woff'),
    url('../fonts/icomoon.ttf?91cu4m') format('truetype'),
    url('../fonts/icomoon.svg?91cu4m#icomoon') format('svg');
}

[class^='profilecon-'],
[class*=' profilecon-'] {
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


// .profilecon-phone:before  {
// 	content: "\e600";
// 	margin-right: 10px;
// }
// .profilecon-mail:before {
// 	content: "\e601";
// 	margin-right: 10px;
// }
.profilecon-twitter:before {
    content: '\e602';
}
.profilecon-facebook:before {
    content: '\e603';
}
.profilecon-googleplus:before {
    content: '\e604';
}
.profilecon-pinterest:before {
    content: '\e605';
}
.profilecon-linkedin:before {
    content: '\e606';
}
.profilecon-instagram:before {
    content: '\e607';
}

.profile-meta,
.profiles-footer,
.simple-profile {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: ' ';
    }
    &:after {
        clear: both;
    }
}

.profile-custom {
    display:inline-block;
}

.profile-website {
    display:block;
}

.profile-custom, .profile-website {
    margin-bottom:10px;
}

.profiles-social {
    margin-top: .5em;
    margin-bottom: .5em;
    a {
        display: inline-block;

        width: 20px;
        height: 20px;
        margin: 5px 10px;

        text-decoration: none;

        background-repeat: no-repeat;
        &:first-of-type {
        	margin-left:0;
        }
        span {
            position: absolute !important;

            clip: rect(1px, 1px, 1px, 1px);
        }
    }
}

.profile-meta {
    font-size: 1.1em;

    margin: 1em auto;
    .job-title,
    .profilecon-email,
    .profilecon-phone {
        display: block;
    }
    .profilecon-email {
        text-decoration: none;
    }
}

.profile-info, .profile-picture  {
    a {
        border:none !important;
    }
}

.simple-profile {
    margin-bottom: 2em; 

    hr {
    	margin-top: 20px;
    }
}
