@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?91cu4m");
  src: url("../fonts/icomoon.eot?#iefix91cu4m") format("embedded-opentype"), url("../fonts/icomoon.woff?91cu4m") format("woff"), url("../fonts/icomoon.ttf?91cu4m") format("truetype"), url("../fonts/icomoon.svg?91cu4m#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="profilecon-"], [class*=" profilecon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.profilecon-twitter:before {
  content: "\e602"; }

.profilecon-facebook:before {
  content: "\e603"; }

.profilecon-googleplus:before {
  content: "\e604"; }

.profilecon-pinterest:before {
  content: "\e605"; }

.profilecon-linkedin:before {
  content: "\e606"; }

.profilecon-instagram:before {
  content: "\e607"; }

.profiles-info, .profiles-footer, .s2-profile {
  *zoom: 1; }
  .profiles-info:before, .profiles-info:after, .profiles-footer:before, .profiles-footer:after, .s2-profile:before, .s2-profile:after {
    content: " ";
    display: table; }
  .profiles-info:after, .profiles-footer:after, .s2-profile:after {
    clear: both; }

.profiles-social, .profiles-links {
  display: inline-block; }
  .profiles-social a, .profiles-links a {
    text-decoration: none; }

.profiles-social {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .profiles-social a {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 5px 10px;
    background-repeat: no-repeat;
    border: none;
    text-decoration: none; }
    .profiles-social a span {
      clip: rect(1px, 1px, 1px, 1px);
      position: absolute !important; }

.profiles-info {
  margin: 1em auto;
  font-size: 1.1em; }
  .profiles-info .job-title, .profiles-info .profilecon-email, .profiles-info .profilecon-phone {
    display: block; }
  .profiles-info .profilecon-email {
    text-decoration: none; }

.s2-profile {
  margin-bottom: 2em; }

span.s2-sep {
  margin-left: 0.4em;
  margin-right: 0.4em; }

@media screen and (min-width: 37.5em) {
  .left-profile .s2-profile-avatar, .right-profile .s2-profile-avatar {
    width: 30%; }
  .left-profile .s2-profile-info, .right-profile .s2-profile-info {
    width: 65%; }

  .left-profile .s2-profile-avatar {
    float: left; }
  .left-profile .s2-profile-info {
    float: right; }

  .right-profile .s2-profile-avatar {
    float: right; }
  .right-profile .s2-profile-info {
    float: left; } }
