.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: #333333;
}
.icon-phone {
	fill: #333333;
}
.icon-mail {
	fill: #333333;
}
.icon-twitter {
	fill: #333333;
}
.icon-facebook {
	fill: #333333;
}
.icon-googleplus {
	fill: #333333;
}
.icon-pinterest {
	fill: #333333;
}
.icon-linkedin {
	fill: #333333;
}
.icon-instagram {
	fill: #333333;
}
